.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'MapMyLeads', root_path, class: 'brand'

      %ul.nav
        = nav_item 'Choose an Account', root_path

        / - if @account
        /   %li "Showing #{@account.name}"

      %ul.nav.pull-right
        - if signed_in?
          = link_to oauth_logout_path, class: 'btn' do
            %i.icon-off
            Sign Out