.container
  .hero-unit
    %h1 Welcome to MapMyLeads!
    %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    %p
      = link_to oauth_login_path, class: 'btn btn-primary btn-large' do
        Sign in with Unbounce &raquo;